.card {
    margin-bottom: 20px;
}

.card > div {
    margin: 10px;
}

.header-element {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.header-menu {
    margin-bottom: 50px;
}